<% content_for :title, "Editing Manga" %>

<h1>Editing Manga</h1>

<div class="manga-edit-form">
  <%= render "form", manga: @manga %>
</div>

<div class="manga-links">
  <%= link_to "Show this manga", @manga, class: "btn btn-primary" %>
  <%= link_to "Back to mangas", mangas_path, class: "btn btn-secondary" %>
</div>
