<div class="container">
    <div class="box bg-full-transparent has-text-centered">
        <div class="notification bg-transparent">
            <h2 class="title"><i class="fas fa-envelope"></i> Cek Email Anda</h2>
            <p>Silakan periksa email Anda untuk mengonfirmasi akun.</p>
            <p>Belum menerima email? <%= link_to "Kirim ulang", new_user_confirmation_path %></p>
        </div>
    </div>
</div>

