db/schema.rb linguist-generated
vendor/* linguist-vendored
config/credentials/*.yml.enc diff=rails_credentials
config/credentials.yml.enc diff=rails_credentials

*.erb linguist-language=Ruby
*.html linguist-language=Ruby
*.css linguist-language=Ruby