<%= form_with(
      url: manga_chapter_comments_path(manga, chapter_number: chapter.chapter_number),
      scope: :comment,
      local: false,
      data: { turbo_frame: "comment_form" },
      html: { class: "box bg-transparent" }
    ) do |f| %>
  <div class="field">
    <%= f.label :body, "Write a Comment:", class: "label" %>
    <div class="control">
      <%= f.text_area :body, rows: 4, class: "textarea bg-full-transparent", placeholder: "Share your thoughts..." %>
    </div>
  </div>
  <div class="field mt-3">
    <div class="control">
      <%= f.submit "Post Comment", class: "button bg-transparent is-fullwidth", data: {
                controller: "confirm",
                action: "confirm#confirm",
                confirm_title_value: "Comment?",
                confirm_message_value: "Are you sure comment it?",
                confirm_confirm_text_value: "Yes, Comment it!"
              } %>
    </div>
  </div>
<% end %>
