<div class="container">
  <div class="box bg-full-transparent">
    <div data-controller="user-management">
      <div class="box bg-transparent has-text-white">
        <h3 class="title is-5"><i class="fas fa-chart-bar"></i> Reports</h3>
        <div class="field is-grouped mb-4">
          <h2>Total Mangas</h2>
          <p><%= @total_mangas %></p>
        </div>
        <div class="field is-grouped mb-4">
          <h2>Total Users</h2>
          <p><%= @total_users %></p>
        </div>
        <div class="field is-grouped mb-4">
          <h2>Users by Role</h2>
          <ul>
            <% @users_by_role.each do |role, count| %>
              <li><%= role.capitalize %>: <%= count %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
