<div class="container">
  <div class="notification is-info has-text-centered">
    <h2 class="title"><i class="fas fa-envelope"></i> Cek Email Anda</h2>
    <p>Silakan periksa email Anda untuk mengonfirmasi akun.</p>
    <p>Belum menerima email? <%= link_to "Kirim ulang", new_user_confirmation_path %></p>
  </div>
</div>
