<div class="container">
  <div class="notification is-info has-text-centered">
    <h2 class="title"><i class="fas fa-envelope"></i> Check Your Email</h2>
    <p>Please check your email to confirm your account.</p>
    <p>Haven't received the email? <%= link_to "Resend", new_user_confirmation_path %></p>
  </div>
</div>

